/*****************\
*                 *
* Generic classes *
*                 *
\*****************/
        
.block {
    display: block !important;
}

.big {
    font-size: 1.5em !important;
    line-height: 2em !important;
    height: 2.5em !important;
}

input.centered, .centered {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

input.wide, .wide {
    width: 98% !important;
}

/******************\
*                  *
* Generic elements *
*                  *
\******************/

article {
    overflow: scroll;
}

button {
    margin: 2px;
}

/****************************************\
*                                        *
* Connection directive stuff goes below! *
*                                        *
\****************************************/

.connection-container {
    border-top: 2px solid #ccc;
    clear: both;
    height: 100%;
    min-height: 100%;
    position: relative;
    margin-top: 10px;
}

.connection-item {
    font-size: 1.2em;
    padding: 1em;
}

.connection-title {
    padding-bottom: 1em;
    border-bottom: dashed 1px #8ac;
}

.connection-details {
    display: none;    
    padding: 5px 5px 5px 15px;
    font-size: 1em;
}

 .copyright {
    font-size: 0.5em;
    color: #ccc;
    padding-top: 1em;
}

.expanded {
    display: block !important;
}


.connection-instructions {
    list-style: arrow;
    padding-left: 20px;
    padding-bottom: 10px;
}

.map {
    display: none;
    width: 100%;
    height: 200px;
}

.visible {
    display:inline-block;
}

.small-screen-only {
    display: inline-block;
}

@media (min-width: 800px) {
    
    .small-screen-only {
        display: none;
    }
    
    .map {
        float: right;
        display: block;
        width: 50%;
        height: 50%;
    }

    .connection-title {
        max-width: 25%;
        width: 25%;
        min-width:25%;
    }
    .connection-details {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 70%;
        height: 100%;
        border-left: 3px solid #ccc;
    }
}
